.register_page{
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0 2vh 0 2vh ;
    margin: 0;
    
}
.register_form{
    gap: 2vh;
    width: 80%;
    height: 95%;
    background-color: #EBE3DB;
}
.title_reg{
    width: 100%;
    display: flex;
    justify-content: center;
}