@font-face{
    font-family: Lora_bold;
    src: url('../../../public/fonts/Google_Sans,Lora/Lora/static/Lora-Bold.ttf');
    font-family: Lora;
    src: url('../../../public/fonts/Google_Sans,Lora/Lora/static/Lora-Medium.ttf');
}
 body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}
.navbar{
    font-family: 'Lora';
    width: 100%;
    height: 12.79vh;
    background-color: #EBE3DB;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 2rem ;
    font-size: 3vw;
    flex-shrink: 0
}
.login_icon{
    height: 3rem;
    width: 3rem;  
}
.metawatch_logo{
    height: 5rem;
    width: 5rem;
}
.body{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #000000d9;
    padding-bottom: 5vh;
    padding-top: 5vh;
}
.footer{
    width: 100%;
    height: 148px;
    background-color: #EBE3DB;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 2rem ;
    font-size: 3vw;  
}
